{
    "plugins": [
        ["transform-es2015-modules-commonjs", {
            "allowTopLevelThis": true
        }],
        ["transform-async-to-module-method", {
            "module": "bluebird",
            "method": "coroutine"
        }]
    ]
}
